<!DOCTYPE html>
<html>
  <head>
    <title>Project Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">  
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header>
      <div class="header_inner">
        <%= link_to "Project Management", root_path, id: "logo" %>
        <nav>
          <% if user_signed_in? %>
            <%= link_to "Create Project", new_project_path %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Log In", new_user_session_path %>
          <% end %>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="overlay"></div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
